In [32]:
import pandas as pd

# Series

In [33]:
# series
mylist = [10,38,489,123]        # integer list
intseries = pd.Series(mylist)
print(intseries)
print(type(intseries))

0     10
1     38
2    489
3    123
dtype: int64
<class 'pandas.core.series.Series'>

In [34]:
mylist = ['1','10','Lakshya']   # string list
strseries = pd.Series(mylist)
print(strseries)
print(type(strseries))

0          1
1         10
2    Lakshya
dtype: object
<class 'pandas.core.series.Series'>

In [35]:
strseries = pd.Series(('python', "hello world", 'Lakshya', 12, 33))      # string and integer tuples
print(strseries)
print(type(strseries))

0         python
1    hello world
2        Lakshya
3             12
4             33
dtype: object
<class 'pandas.core.series.Series'>

In [36]:
dateseries = pd.date_range(start='01-01-2023', end='04-01-2023')
print(dateseries)
print(type(dateseries))

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13',
               '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17',
               '2023-02-18', '2023-02-19', '2023-02-20', '2023-02-21',
               '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-25',
               '2023-02-26', '2023-02-27', '2023-02-28', '2023-03-01',
               '2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-11', '2023-03-12', '2023-03-13',
               '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17',
               '2023-03-18', '2023-03-19', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-25',
               '2023-03-26', '2023-03-27', '2023-03-28', '2023-03-29',
               '2023-03-30', '2023-03-31', '2023-04-01'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [37]:
print(dateseries.year)

Int64Index([2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023,
            2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023,
            2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023,
            2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023,
            2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023,
            2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023,
            2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023,
            2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023,
            2023, 2023, 2023],
           dtype='int64')

In [38]:
print(dateseries.month_name())
print(dateseries.month)

Index(['January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January', 'January', 'January',
       'January', 'February', 'February', 'February', 'February', 'February',
       'February', 'February', 'February', 'February', 'February', 'February',
       'February', 'February', 'February', 'February', 'February', 'February',
       'February', 'February', 'February', 'February', 'February', 'February',
       'February', 'February', 'February', 'February', 'February', 'March',
       'March', 'March', 'March', 'March', 'March', 'March', 'March', 'March',
       'March', 'March', 'March', 'March', 'March', 'March', 'March', 'March',
       'March', 'March', 'March', 'March', 'March', 'March', 'March', 'March',
       'March', 'March', 'March', 'March', 'March', 'March', 'April'],
      dtype='object')
Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
            2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3,
            3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
            3, 3, 4],
           dtype='int64')

In [39]:
print(dateseries.day_of_week)
print(dateseries.day_of_year)

Int64Index([6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6,
            0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0,
            1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1,
            2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2,
            3, 4, 5],
           dtype='int64')
Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
            86, 87, 88, 89, 90, 91],
           dtype='int64')

In [40]:
intseries = pd.Series([1,29,49,74,89])
print(intseries)
print(intseries[2])     # fetches the element of the given index

0     1
1    29
2    49
3    74
4    89
dtype: int64
49

In [41]:
# having own index
intseries = pd.Series([1,29,49,74,89], index=[1,'b','c',102,'e'])
print(intseries)
print(intseries[102])     # fetches the element of the given index
print(type(intseries))

1       1
b      29
c      49
102    74
e      89
dtype: int64
74
<class 'pandas.core.series.Series'>

# DataFrames

In [42]:
# dataframe
student_dict = {
    'roll no' : [1,2,3,4],
    'name': ['Lakshya', 'Mayank', 'Vanshraj', 'Raghav'],
    'math_score' : [9,8,9,9]
}
print(student_dict)

{'roll no': [1, 2, 3, 4], 'name': ['Lakshya', 'Mayank', 'Vanshraj', 'Raghav'], 'math_score': [9, 8, 9, 9]}

In [43]:
student_df = pd.DataFrame(student_dict)
print(student_df)

   roll no      name  math_score
0        1   Lakshya           9
1        2    Mayank           8
2        3  Vanshraj           9
3        4    Raghav           9

In [44]:
# importing csv file
studentsdf = pd.read_csv('StudentsPerformance.csv')
print(studentsdf)

    gender race/ethnicity parental level of education         lunch  \
0   female        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3     male        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6   female        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard

   test preparation course  math score  reading score  writing score
0                     none          72             72             74
1                completed          69             90             88
2                     none          90             95             93
3                     none          47             57             44
4                     none          76             78             75
5                     none          71             83             78
6                completed          88             95             92
7                     none          40             43             39
8                completed          64             64             67
9                     none          38             60             50
10                    none          58             54             52

In [45]:
studentsdff = studentsdf.set_index('gender')
print(studentsdff)

       race/ethnicity parental level of education         lunch  \
gender
female        group B           bachelor's degree      standard
female        group C                some college      standard
female        group B             master's degree      standard
male          group A          associate's degree  free/reduced
male          group C                some college      standard
female        group B          associate's degree      standard
female        group B                some college      standard
male          group B                some college  free/reduced
male          group D                 high school  free/reduced
female        group B                 high school  free/reduced
male          group C          associate's degree      standard

       test preparation course  math score  reading score  writing score
gender
female                    none          72             72             74
female               completed          69             90             88
female                    none          90             95             93
male                      none          47             57             44
male                      none          76             78             75
female                    none          71             83             78
female               completed          88             95             92
male                      none          40             43             39
male                 completed          64             64             67
female                    none          38             60             50
male                      none          58             54             52

In [46]:
print(studentsdf.head())        # starting 5 indexes will br printed be default

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [47]:
print(studentsdf.head(3))       # starting 3 indexes will be printed

   gender race/ethnicity parental level of education     lunch  \
0  female        group B           bachelor's degree  standard
1  female        group C                some college  standard
2  female        group B             master's degree  standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93

In [48]:
print(studentsdf.tail())        # last 5 elements will be printed by default

    gender race/ethnicity parental level of education         lunch  \
6   female        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard

   test preparation course  math score  reading score  writing score
6                completed          88             95             92
7                     none          40             43             39
8                completed          64             64             67
9                     none          38             60             50
10                    none          58             54             52

In [49]:
print(studentsdf.tail(3))       # last 3 elements will be printed

    gender race/ethnicity parental level of education         lunch  \
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard

   test preparation course  math score  reading score  writing score
8                completed          64             64             67
9                     none          38             60             50
10                    none          58             54             52

In [50]:
print(studentsdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       11 non-null     object
 1   race/ethnicity               11 non-null     object
 2   parental level of education  11 non-null     object
 3   lunch                        11 non-null     object
 4   test preparation course      11 non-null     object
 5   math score                   11 non-null     int64
 6   reading score                11 non-null     int64
 7   writing score                11 non-null     int64
dtypes: int64(3), object(5)
memory usage: 832.0+ bytes
None

In [51]:
print(studentsdf.shape)

(11, 8)

In [52]:
print(studentsdf.describe())

       math score  reading score  writing score
count   11.000000      11.000000      11.000000
mean    64.818182      71.909091      68.363636
std     17.617140      17.711321      19.448767
min     38.000000      43.000000      39.000000
25%     52.500000      58.500000      51.000000
50%     69.000000      72.000000      74.000000
75%     74.000000      86.500000      83.000000
max     90.000000      95.000000      93.000000

In [53]:
print(studentsdf.values)

[['female' 'group B' "bachelor's degree" 'standard' 'none' 72 72 74]
 ['female' 'group C' 'some college' 'standard' 'completed' 69 90 88]
 ['female' 'group B' "master's degree" 'standard' 'none' 90 95 93]
 ['male' 'group A' "associate's degree" 'free/reduced' 'none' 47 57 44]
 ['male' 'group C' 'some college' 'standard' 'none' 76 78 75]
 ['female' 'group B' "associate's degree" 'standard' 'none' 71 83 78]
 ['female' 'group B' 'some college' 'standard' 'completed' 88 95 92]
 ['male' 'group B' 'some college' 'free/reduced' 'none' 40 43 39]
 ['male' 'group D' 'high school' 'free/reduced' 'completed' 64 64 67]
 ['female' 'group B' 'high school' 'free/reduced' 'none' 38 60 50]
 ['male' 'group C' "associate's degree" 'standard' 'none' 58 54 52]]

In [54]:
print(studentsdf.count())

gender                         11
race/ethnicity                 11
parental level of education    11
lunch                          11
test preparation course        11
math score                     11
reading score                  11
writing score                  11
dtype: int64

In [63]:
studentsdf[2::2]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
6,female,group B,some college,standard,completed,88,95,92
8,male,group D,high school,free/reduced,completed,64,64,67
10,male,group C,associate's degree,standard,none,58,54,52

In [65]:
print(studentsdf.loc[7, 'race/ethnicity'])

group B

In [71]:
print(studentsdf.iloc[4,7])

75